// Import page-specific CSS files here.
@import "home";

.index-container {
  width: 80%;
  margin: 0 auto;
}

.index-container h1 {
  text-align: center;
}

.toothbrush-container {
  grid-template-columns: repeat(3, 1fr);
}

body {
  font-family: "Poppins", sans-serif;
  h1 {
    font-weight: lighter;
  }
  background-color: #bee7f7;
  color: white;
}

a {
  text-decoration: none;
  color: #014cb1;
  transition: color 0.5s;
}

a:hover {
  text-decoration: none;
  color: #dd1321;
}

.p-3 {
  color: white;
  font-weight: bold;
}

.add-tb:hover {
  color: #dd1321;
}

.toothbrush-container {
  p {
    color: black;
  }
  h2 {
    color: black;
  }
}

.overflow {
  overflow: scroll;
}
