// Import page-specific CSS files here.
@import "home";

.index_container {
  width: 80%;
  margin: 0 auto;
}

.index_container h1 {
  text-align: center;
}

.toothbrush_container {

  grid-template-columns: repeat(3, 1fr);
}

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 8px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  padding-bottom: 0px;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #bee7f7;
}

 a {
  text-decoration: none;
  color: #014CB1;
  transition: color 0.5s;
}

 a:hover {
  text-decoration: none;
  color: #DD1321;
}

.p-3 {
  color: white;
  font-weight: bold;
}

.add-tb:hover {
  color: #DD1321;
}

body {
  color: white;
}

.toothbrush_container {
  p {
    color: black;
  }
  h2 {
    color:black;
  }
}

.maps {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.li-tags {
  color: black;
  list-style: none;
  display: inline;
  margin-right: 10px;
  font-size: 12px;
  background-color: #c0d9ff;
  box-shadow: 0 0 6px rgba(192, 217, 255, 1);
  padding: 0 6px;
}

.tags-list {
  margin-left: 10px;
  padding-left: 8px;
}

.add-tag {
  font-size: 18px;
}
