.show-container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}

.toothbrush-description {
  color: #63c4eb;
  li {
    list-style: none;
    text-align: left;
  }
}

.list-group {
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 20px;
  color: #2a8aaf;
  li {
    text-align: left;
  }
  h2 {
    color: #2a8aaf;
  }
}

.right-container {
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 10px;
  position: absolute;
  overflow-y: scroll;
  min-height: 450px;
  height: 96%;
  h2 {
    color: #2a8aaf;
  }
}

.show-list {
  margin-left: 30px;
}
