<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-block">
    <div class="footer-copyright">
      Add some kinkiness in your mouth <i class="fas fa-heart"></i>
    </div>
     <div class="logo-text d-flex align-items-center justify-content-center">
      <i class="fas fa-tooth" style="font-size: medium"></i>
      <h6 class='ml-2 mt-2'>ToothTnB</h6>
   </div>
  </div>
</div>
