<h1>Add a tag to "<%= @toothbrush.title %>"</h1>

<%= simple_form_for([@toothbrush, @toothbrush_tag]) do |f| %>
  <%= f.association :tag, input_html: { multiple: true }, include_hidden: false %>
  <%# f.input :tag_id, as: :select, collection: Tag.alls %>
  <%= f.submit %>
<% end %>
