<div class="index_container">
  <h1 class="p-3">Welcome to Toothbrush Paradise</h1>

  <div class="toothbrush_container">
    <% @toothbrushes.each do |toothbrush| %>
      <div class="card-trip m-3">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= link_to toothbrush.title, toothbrush_path(toothbrush) %></h2>
            <p><%= toothbrush.description %></p>
          </div>
          <h2 class="card-trip-pricing">£99.99</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>


