#search-b {
 background-color: #f5b461;
 border: solid white 1px;
}

#add-btn {
 background-color: #f5b461;
 border: solid white 1px;
}

#show-btn {
 background-color: #f5b461;
 border: solid white 1px;
}

.form-btn {
 background-color: #f5b461;
 border: solid white 1px;
}