.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #66D1FD;
}

.cloud {
  background-color: #d9e8ee;
  border-radius: 5px;
}

.maps {
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

