.navbar-lewagon {
  justify-content: space-between;
  background: #f5b461;
  h2 {
    color: white;
  }
}

.navbar-light .navbar-nav .nav-item .nav-link {
  color: white;
  .nav-item:hover {
    color: #66D1FD;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
  height: 40px;
}

.fa-tooth {
  color: white;
}
