<div class="container">
 <h2 class='mt-4'>Add a new review</h2>
  <%= simple_form_for [ @toothbrush, @review ] do |f| %>
   <%= f.input :rating, type: 'select', collection: [0, 1, 2, 3, 4, 5] %>
   <%= f.input :content %>
   <%= f.submit "Submit", class: "btn btn-primary", id: "show-btn" %>
 <% end %>
</div>